{
  "plugins": [
    ["transform-es2015-modules-commonjs"],
    ["transform-decorators-legacy"],
    ["transform-flow-strip-types"],
    ["transform-async-to-generator"],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "production": {
      "comments": false,
      "minified": true
    }
  },
  "presets": ["es2015", "es2016", "es2017", "stage-0", "react"],
}
